<div class="container d-flex justify-content-center my-4" *ngFor="let instrumento of instrumentoBuscar; let i = index">
    <div class="card" style="width: 35rem" >
      <div class="row" >
        <div class="col-sm-5 d-flex justify-content-center align-items-center">
          <a routerLink="/detalle/{{ instrumento.id }}">
              <img
            src="assets/img/{{ instrumento.imagen }}"
            class="sizeImg"
          />
          </a>
        </div>
        <div class="col-sm-7">
          <div class="card-body">
            <h5 class="card-title">{{ instrumento.instrumento }}</h5>
            <h6 class="card-subtitle mb-2 text-muted precio">{{ instrumento.precio | currency}}</h6>
            <p class="card-text">
              <span *ngIf="instrumento.costoEnvio == 'G'" class="gratis">
                  <img src="assets/img/camion.png" style="max-width: 35px;">
                  Envío gratis
              </span>
              <span *ngIf="instrumento.costoEnvio != 'G'" class="costoEnvio">
                  Costo de envío al interior de Argentina: {{ instrumento.costoEnvio | currency}} 
              </span>
            </p>
            <p class="card-text">
                {{ instrumento.cantidadVendida }} Vendidos
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
